* {
  padding: 0;
  margin: 0;

  --dark-gray: #23231a;
  --dark-blue: #334d84;
  --light-blue: #79a9d1;
  --dark-red: #c1292e;
  --light-red: #ff6b6b;
}

body {
  display: grid;
  grid-template-rows: minmax(auto, 6rem) 9fr;
  min-height: 100vh;
}

.modal {
  grid-area: 1 / 1 / -1 / -1;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
}

.modal > .modal-content {
  appearance: none;
  background: var(--light-blue);
  padding: 2rem;
  border-radius: 10px;
}

.modal-content > h2 {
  margin: 1rem;
  text-align: center;
}

.modal-content li {
  list-style: none;
}

.book-form > ul {
  display: grid;
  gap: 1rem;
}

.book-form label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.book-form input,
.book-form select {
  border: none;
  padding: 0.5em;
  background: #fff;
}

.book-form *:focus-visible {
  outline: none;
}

.book-form button {
  justify-self: center;
}

header {
  display: grid;
  background: var(--dark-gray);
  padding: 1rem;
}

header > .header-title {
  align-self: flex-end;
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}

.main {
  display: grid;
  grid-auto-rows: min-content;
  background: var(--dark-blue);
  justify-content: center;
}

.main-content {
  display: grid;
  gap: 2rem;
  padding: 2rem;
}

.book-list {
  display: grid;
  gap: 1rem;
}

.book {
  display: grid;
  gap: 1rem;
  background: var(--light-blue);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px #23231a;
}

.book .btn {
  color: #fff;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  padding: 0.75em 1.5em;
  width: fit-content;
  height: fit-content;
  font-weight: 700;
  color: #fff;
  background: var(--dark-red);
  border: none;
  border-radius: 20px;
}

.btn:hover {
  background: var(--light-red);
  cursor: pointer;
}

.update-btn-form {
  display: none;
}

.open-modal-btn {
  justify-self: center;
}
